flows (1).json
[
    {
        "id": "fd0a66513081a469",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "df018df77966931c",
        "type": "ui_slider",
        "z": "fd0a66513081a469",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "e336790c5dc2ddd6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "5d968a20b949cea7",
                "7839fc9d9657b925"
            ]
        ]
    },
    {
        "id": "5d968a20b949cea7",
        "type": "ui_gauge",
        "z": "fd0a66513081a469",
        "name": "",
        "group": "e336790c5dc2ddd6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "7839fc9d9657b925",
        "type": "switch",
        "z": "fd0a66513081a469",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "66bb2d6732468d10"
            ]
        ]
    },
    {
        "id": "66bb2d6732468d10",
        "type": "change",
        "z": "fd0a66513081a469",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sem água",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 360,
        "wires": [
            [
                "c54cb38a11a92149"
            ]
        ]
    },
    {
        "id": "c54cb38a11a92149",
        "type": "ui_toast",
        "z": "fd0a66513081a469",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "84610150245e2be2",
        "type": "rpi-gpio in",
        "z": "fd0a66513081a469",
        "name": "",
        "pin": "17",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "df018df77966931c"
            ]
        ]
    },
    {
        "id": "cbfab7a2492d6f98",
        "type": "ui_slider",
        "z": "fd0a66513081a469",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "6b2e13cadc4049ef",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": 1,
        "className": "",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "1ce28358a47fd682",
                "5e9f69ca532e8120"
            ]
        ]
    },
    {
        "id": "1ce28358a47fd682",
        "type": "ui_gauge",
        "z": "fd0a66513081a469",
        "name": "",
        "group": "6b2e13cadc4049ef",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "5e9f69ca532e8120",
        "type": "switch",
        "z": "fd0a66513081a469",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 680,
        "wires": [
            [
                "abada1fa6b5cea6a"
            ]
        ]
    },
    {
        "id": "abada1fa6b5cea6a",
        "type": "change",
        "z": "fd0a66513081a469",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sem comida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 680,
        "wires": [
            [
                "e067d029612d6cc0"
            ]
        ]
    },
    {
        "id": "e067d029612d6cc0",
        "type": "ui_toast",
        "z": "fd0a66513081a469",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 850,
        "y": 680,
        "wires": []
    },
    {
        "id": "edb539ec9460e98c",
        "type": "rpi-gpio in",
        "z": "fd0a66513081a469",
        "name": "",
        "pin": "21",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "cbfab7a2492d6f98"
            ]
        ]
    },
    {
        "id": "5c4ddf136674e133",
        "type": "ui_slider",
        "z": "fd0a66513081a469",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "053f84c4afc2f3e0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "e0e7fe5d949f6720",
                "defe8e03b44a521a"
            ]
        ]
    },
    {
        "id": "e0e7fe5d949f6720",
        "type": "ui_gauge",
        "z": "fd0a66513081a469",
        "name": "",
        "group": "053f84c4afc2f3e0",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "defe8e03b44a521a",
        "type": "switch",
        "z": "fd0a66513081a469",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 940,
        "wires": [
            [
                "ed62a92b8bfd6463"
            ]
        ]
    },
    {
        "id": "ed62a92b8bfd6463",
        "type": "change",
        "z": "fd0a66513081a469",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Presente",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 940,
        "wires": [
            [
                "d0a7159d42a61268"
            ]
        ]
    },
    {
        "id": "d0a7159d42a61268",
        "type": "ui_toast",
        "z": "fd0a66513081a469",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 940,
        "wires": []
    },
    {
        "id": "8367430b130b63c2",
        "type": "rpi-gpio in",
        "z": "fd0a66513081a469",
        "name": "",
        "pin": "26",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 800,
        "wires": [
            [
                "5c4ddf136674e133"
            ]
        ]
    },
    {
        "id": "e336790c5dc2ddd6",
        "type": "ui_group",
        "name": "Água",
        "tab": "e5c8d4e2dbd64034",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b2e13cadc4049ef",
        "type": "ui_group",
        "name": "Comida",
        "tab": "e5c8d4e2dbd64034",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "053f84c4afc2f3e0",
        "type": "ui_group",
        "name": "Cachorro",
        "tab": "e5c8d4e2dbd64034",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5c8d4e2dbd64034",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]